:root {
   --primario: #c4e0e3;
   --secundario: #97b9b5;
   --tercero: #b3d1a2;
   --claro: #f4f2dd;
   --popcolor: #2f737a;

    --fuenteHeading: 'Cormorant SC', serif;;
    --fuenteBody: 'Lato', sans-serif;
    
}
html{
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para box model */
    background: linear-gradient(180deg, rgba(255,255,255,1) 78%, rgba(212,230,232,1) 100%);
    background-repeat: no-repeat;

}
*, *:before, *:after {
    box-sizing: inherit;

}

h1 {
    text-align: center;
    font-size: 3.8rem;
    font-family: var(--fuenteHeading);
    font-weight:bold;
    padding: 1rem 1rem;

}
.icono {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icono1 {
    display: flex;
    flex-direction:row;
    align-items: center;
}

.nav-enlace {
    padding: 9px 3px;
    display: inline-block;
    color:var(--negro);
    font-size: 2rem;
    text-decoration: none;
    border-radius: 7px;

}
.nav-enlace1 {
    padding: 9px 3px;
    display: inline-block;
    color: var(--negro);
    font-size: 2rem;
    text-decoration: none;
    border-radius: 7px;
    background-color:whitesmoke;

}
.nav-enlace:hover {
    background: var(--secundario);

}

nav {
    background:#a9d0d4;
    padding: 4px;
    display:flex;
    justify-content:space-around;


}


.formulario {
    background-color:whitesmoke;
    width: 60rem;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 2rem;
    font-size: 2.1rem;
    color: var(--popcolor);
    font-family: var(--fuenteBody);


    display: flex;
    flex-direction: column;

}
.formulario fieldset {
    border: none;
    padding: none;

}
legend {
    font-size: 3rem;
    text-align: center;
    color: var(--oscuro);
    font-weight:bold;

}
button {
    background-color: var(--tercero);
    border: none;
    color: black;
    border-radius: 6px;
    font-family: var(--fuenteBody);
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    width: 12rem;
    padding: 5px;
    font-weight: bold;

}
.boton {
    text-align: center;
}



